.dockerignore
.svn
.vs
/builds
/drivers
/libs
/debug
/release
/Debug
/Release
SF2Converter/data
SF2Converter/Debug
SF2Converter/Release
SF2Converter/SDL2.dll
SF2Converter/test
SF2Converter/*.vcxproj.user
SIDFactoryII/Assets.xcassets
SIDFactoryII/Base.lproj
SIDFactoryII/data
SIDFactoryII/drivers_custom
SIDFactoryII/drivers_dev
SIDFactoryII/Debug
SIDFactoryII/Release
SIDFactoryII/Info.plist
SIDFactoryII/SDL2.dll
SIDFactoryII/user.ini
SIDFactoryII/*.entitlements
SIDFactoryII/*.vcxproj.user
*.dll
*.exe
*.xcodeproj
*.o
Dockerfile
artifacts
