.dockerignore
.svn
.vs
builds
debug
./drivers
libs
release
SIDFactoryII/Assets.xcassets
SIDFactoryII/Base.lproj
SIDFactoryII/data
SIDFactoryII/drivers_custom
SIDFactoryII/drivers_dev
SIDFactoryII/Debug
SIDFactoryII/Release
SIDFactoryII/Info.plist
SIDFactoryII/SDL2.dll
SIDFactoryII/user.ini
SIDFactoryII/*.entitlements
SIDFactoryII/*.vcxproj
SIDFactoryII/*.vcxproj.filters
SIDFactoryII/*.vcxproj.user
*.dll
*.exe
*.sln
*.xcodeproj
Dockerfile
*.o
artifacts
