.svn
.vs
/builds
/drivers
/debug
/release
/Debug
/Release
SF2Converter/data
SF2Converter/Debug
SF2Converter/Release
SF2Converter/SDL2.dll
SF2Converter/test
SF2Converter/*.vcxproj.user
SIDFactoryII/Base.lproj
SIDFactoryII/data
SIDFactoryII/drivers_custom
SIDFactoryII/drivers_dev
SIDFactoryII/Debug
SIDFactoryII/Release
SIDFactoryII/user.ini
SIDFactoryII/*.entitlements
SIDFactoryII/*.vcxproj.user
*.dll
*.exe
*.o
artifacts
xcuserdata
.ccls-cache
/SIDFactoryII/x64/Debug
